[alias]
	co = checkout
	ci = commit
	st = status
	logall = log --all --graph --decorate --oneline
	br = branch
	sw = switch
	pushfwl = push --force-with-lease
[user]
	name = Egor Suvorov
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
